body{
    background-image: Url('Grassland.png');
    background-repeat: no-repeat;
    background-size: 35cm;
}

div{
    display: grid;
    justify-content: center;
}

table{
   height: 2cm;
   
}


button{
    height: 20PX;
    width: 90px;
    margin: 70px;
    position: 10px;
    
   
}

div #b{
    position: absolute;
    height: 7cm;
    transform: translate(20cm, 2cm);
}

#g{
    position: absolute;
    height: 10cm;
   
   
    
}

#message_box{
    padding: 25px 5px 10px 300px;
    background-color: rgb(0, 89, 255);
}
